<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>送拍的拍品</title>
		<meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta content="telephone=no,email=no" name="format-detection">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <link rel="stylesheet" href="../lib/css/mui.min.css" />
	    <link rel="stylesheet" href="../css/songpai.css" />
	</head>
	<body>
		<div class="mui-content">
		    <p style="font-size: 16px;color: #C79D65;line-height: 39px;text-align: center;font-weight: 600;margin: 0;background: #FFFFFF;">2017首届中国奢侈品拍卖会（钟表专场）</p>
		    <div class="total-price">
		    	<p class="mui-clearfix firstP" style="padding: 0 10px;margin: 0;"><span class="should-get"><i class="should-title" style="font-size: 14px;color: #666;">应收总数：</i><i class="should-price" style="font-size: 14px;color:#C79D65;">5065800</i></span><span class="total-yong"><i class="yong-title" style="font-size: 14px;color: #666;">总佣金：</i><i class="yong-price" style="font-size: 14px;color:#C79D65;">5000000</i></span></p>
		    	<p class="mui-clearfix secondP" style="padding: 0 10px;margin: 0;"><span class="should-get"><i class="should-title" style="font-size: 14px;color: #666;">已收款：</i><i class="should-price" style="font-size: 14px;color:#C79D65;">1065800</i></span><span class="total-yong"><i class="yong-title" style="font-size: 14px;color: #666;">待收款：</i><i class="yong-price" style="font-size: 14px;color:#C79D65;">4051100</i></span></p>
		    </div>
			<div id="slider" class="mui-slider" style="background: #FFFFFF;">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item1mobile">
				我送拍的拍品
			</a>
					<a class="mui-control-item" href="#item2mobile">
				我拍到的拍品
			</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
						    		<li class="mui-table-view-cell mui-media">
								        <a href="javascript:;">
								            <img class="mui-media-object mui-pull-left" src="../img/sy1.png">
								            <div class="mui-media-body">
								                <p class="mui-ellipsis p-title">江诗丹顿  自动机械 玫瑰金 40mm </p>
								                <p class="mui-clearfix done-price"><span class="done-title ti">成交价：</span><span class="d-price pr">2100000</span></p>
								                <p class="mui-clearfix yong-price"><span class="yong-title ti">佣金：</span><span class="y-price pr">2100</span></p>
								                <p class="mui-clearfix must-get"><span class="must-title ti">应收款：</span><span class="m-price pr">207900</span></p>
								                <span class="pm-state"></span>
								            </div>
								        </a>
								    </li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div id="scroll2" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
						    		<li class="mui-table-view-cell mui-media">
								        <a href="javascript:;">
								            <img class="mui-media-object mui-pull-left" src="../img/sy1.png">
								            <div class="mui-media-body">
								                <p class="mui-ellipsis p-title">江诗丹顿  自动机械 玫瑰金 40mm </p>
								                <p class="mui-clearfix done-price"><span class="done-title ti">成交价：</span><span class="d-price pr">2100000</span></p>
								                <p class="mui-clearfix yong-price"><span class="yong-title ti">佣金：</span><span class="y-price pr">2100</span></p>
								                <p class="mui-clearfix must-get"><span class="must-title ti">应收款：</span><span class="m-price pr">207900</span></p>
								                <span class="pm-state"></span>
								            </div>
								        </a>
								    </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../lib/js/mui.min.js" ></script>
		<script type="text/javascript" src="../lib/js/mui.pullToRefresh.js" ></script>
		<script type="text/javascript" src="../lib/js/mui.pullToRefresh.material.js" ></script>
		<script type="text/javascript" src="../js/songpai.js" ></script>
	</body>
</html>
